$primary-color:teal;

.container{
    margin: 0%;
    padding: 0%;
    min-height: 100vh;
    background:linear-gradient(to right,#654ea3,#eaafc8);
    box-sizing:content-box;
    font-family: sans-serif;
}