.box{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingSpinner{
    height: 120px;
    width: 120px;
    border: 4px solid transparent;
    border-top: 4px solid red;
    border-left: 4px solid red;
    border-bottom: 4px solid red;
    border-radius: 50% ;
    background-color: transparent;
    animation-name: loading;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes loading {
    from{
       transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

